//HELPERS
//**********************************************************************************************************************

.hidden {
  display: none;
}

.bg-lightblue {
  background-color: $primary-color;
}

.bg-lightpink {
  background-color: lightpink;
}

.bg-red {
  background-color: red;
}
