//ICON FONT SETTINGS
//**********************************************************************************************************************
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?a9ae58');
	src:url('../fonts/icomoon.eot?#iefixa9ae58') format('embedded-opentype'),
		url('../fonts/icomoon.woff?a9ae58') format('woff'),
		url('../fonts/icomoon.ttf?a9ae58') format('truetype'),
		url('../fonts/icomoon.svg?a9ae58#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
//	color: rgba(51,99,164,1);
	color: $sixth-color;
	text-shadow: 0px 1px 1px rgba(34, 30, 34, 0.25);
	line-height: 1;
	font-size: 22px;
	letter-spacing: -10px;
	a:hover {
      background-color: $primary-color;
      color: $fourth-color;
	}

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-disk:before {
	content: "\e600";
}
.icon-bubble:before {
	content: "\e601";
}
.icon-bubbles:before {
	content: "\e602";
}
.icon-bubble2:before {
	content: "\e603";
}
.icon-lock:before {
	content: "\e604";
}
.icon-remove:before {
	content: "\e605";
}
.icon-remove2:before {
	content: "\e606";
}
.icon-menu:before {
	content: "\e607";
}
.icon-bookmark:before {
	content: "\e608";
}
.icon-star:before {
	content: "\e609";
}
.icon-heart:before {
	content: "\e60a";
}
.icon-heart-broken:before {
	content: "\e60b";
}
.icon-thumbs-up:before {
	content: "\e60c";
}
.icon-thumbs-up2:before {
	content: "\e60d";
}
.icon-close:before {
	content: "\e60e";
}
.icon-minus:before {
	content: "\e60f";
}
.icon-plus:before {
	content: "\e610";
}
.icon-arrow-up:before {
	content: "\e611";
}
.icon-arrow-down:before {
	content: "\e612";
}
.icon-share:before {
	content: "\e613";
}
