a:hover#usa, a:hover#marine, a:hover#salmon {
		filter: brightness(90%);
	}


//*******************************************************
// USA THEME
//*******************************************************
$primary-color: #ECF0F1;
$secondary-color: #ffffe0;
$third-color: #2980B9;
$fourth-color: #444444;
$fifth-color: #444444; //Box Shadow Color
$sixth-color: #fff;
$anchor-font-color: #ffffe0 !default;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$filter-color: #222222;

#usa1 {background-color: #ECF0F1;}
#usa2 {background-color: #BC8F64;}
#usa3 {background-color: #3498DB;}
#usa4 {background-color: #2980B9;}
#usa5 {background-color: #E74C3C;}


//*******************************************************
// SAHARA THEME
//*******************************************************
//$primary-color: #ECF0F1;
//$secondary-color: #ffffe0;
//$third-color: #2980B9;
//$fourth-color: #444444;
//$fifth-color: #444444; //Box Shadow Color
//$sixth-color: #fff;
//$anchor-font-color: #ffffe0 !default;
//$alert-color: #f04124;
//$success-color: #43AC6A;
//$warning-color: #f08a24;
//$info-color: #a0d3e8;
//
//$primary-bg-color: #74AFD8;
//$secondary-bg-color: #D8CD3F;
//$third-bg-color: #D6B13C;
//$fourth-bg-color: #D89A47;
//$fifth-bg-color: #A84542;


//*******************************************************
// SAHARA THEME - YELLOWISH
//*******************************************************
//$primary-color: #ECF0F1;
//$secondary-color: #ffffe0;
//$third-color: #2980B9;
//$fourth-color: #444444;
//$fifth-color: #444444; //Box Shadow Color
//$sixth-color: #fff;
//$anchor-font-color: #ffffe0 !default;
//$alert-color: #f04124;
//$success-color: #43AC6A;
//$warning-color: #f08a24;
//$info-color: #a0d3e8;
//
//$primary-bg-color: #60A5B9;
//$secondary-bg-color: #D6CD3A;
//$third-bg-color: #D7BD2D;
//$fourth-bg-color: #D8A442;
//$fifth-bg-color: #D78E48;


//*******************************************************
// SAHARA THEME - COLORFUL
//*******************************************************
//$primary-color: #ECF0F1;
//$secondary-color: #ffffe0;
//$third-color: #2980B9;
//$fourth-color: #444444;
//$fifth-color: #444444; //Box Shadow Color
//$sixth-color: #fff;
//$anchor-font-color: #ffffe0 !default;
//$alert-color: #f04124;
//$success-color: #43AC6A;
//$warning-color: #f08a24;
//$info-color: #a0d3e8;

//#sahara1 {background-color: #D8D3AB;}
//#sahara2 {background-color: #D6B13C;}
//#sahara3 {background-color: #D8A442;}
//#sahara4 {background-color: #74AFD8;}
//#sahara5 {background-color: #A94743;}


//*******************************************************
// MARINE THEME
//*******************************************************
#marine1 {background-color: #E8F8FF;}
#marine2 {background-color: #B4DCED;}
#marine3 {background-color: #91C9E8;}
#marine4 {background-color: #67B8DE;}
#marine5 {background-color: #3399CC;}


//*******************************************************
// SCOTT MC CARTHY
//*******************************************************
//$primary-color: #ECF0F1;
//$secondary-color: #ffffe0;
//$third-color: #2980B9;
//$fourth-color: #444444;
//$fifth-color: #444444; //Box Shadow Color
//$sixth-color: #fff;
//$anchor-font-color: #ffffe0 !default;
//$alert-color: #f04124;
//$success-color: #43AC6A;
//$warning-color: #f08a24;
//$info-color: #a0d3e8;
//
//$primary-bg-color: #d75c37;
//$secondary-bg-color: #67727a;
//$third-bg-color: #6991ac;
//$fourth-bg-color: #c3d7df;
//$fifth-bg-color: #f5f5f5;


//*******************************************************
// GIANT GOLDFISH
////*******************************************************
//$primary-color: #ECF0F1;
//$secondary-color: #ffffe0;
//$third-color: #2980B9;
//$fourth-color: #444444;
//$fifth-color: #444444; //Box Shadow Color
//$sixth-color: #fff;
//$anchor-font-color: #ffffe0 !default;
//$alert-color: #f04124;
//$success-color: #43AC6A;
//$warning-color: #f08a24;
//$info-color: #a0d3e8;
//
//$primary-bg-color: #d75c37;
//$secondary-bg-color: #a7dbdb;
//$third-bg-color: #e0e4cc;
//$fourth-bg-color: #f38630;
//$fifth-bg-color: #fa6900;


//*******************************************************
// SALMON
//*******************************************************
//$primary-color: #ECF0F1;
//$secondary-color: #ffffe0;
//$third-color: #2980B9;
//$fourth-color: #444444;
//$fifth-color: #444444; //Box Shadow Color
//$sixth-color: #fff;
//$anchor-font-color: #ffffe0 !default;
//$alert-color: #f04124;
//$success-color: #43AC6A;
//$warning-color: #f08a24;
//$info-color: #a0d3e8;

#salmon1 {background-color: #e7ecf0;}
#salmon2 {background-color: #e0dcdb;}
#salmon3 {background-color: #f4cabc;}
#salmon4 {background-color: #ffa082;}
#salmon5 {background-color: #fc7967;}


//*******************************************************
// SALMON2
//*******************************************************
//$primary-color: #ECF0F1;
//$secondary-color: #ffffe0;
//$third-color: #2980B9;
//$fourth-color: #444444;
//$fifth-color: #444444; //Box Shadow Color
//$sixth-color: #fff;
//$anchor-font-color: #ffffe0 !default;
//$alert-color: #f04124;
//$success-color: #43AC6A;
//$warning-color: #f08a24;
//$info-color: #a0d3e8;
//
//$primary-bg-color: #f6dcb7;
//$secondary-bg-color: #a5a9a8;
//$third-bg-color: #b9e6e1;
//$fourth-bg-color: #4ba7b4;
//$fifth-bg-color: #008b9c;


//*******************************************************
// KULER THEME
//*******************************************************
//$primary-color: #16BECF;
//$secondary-color: #FFFFF3;
//$third-color: #2B2828;
//$fourth-color: #444444;
//$fith-color: #16BECF;
//$sixth-color: #E62534;
//$anchor-font-color: #FFFFF3 !default;
//$alert-color: #f04124;
//$success-color: #43AC6A;
//$warning-color: #f08a24;
//$info-color: #a0d3e8;

