.post.first-bg {
		background-color: #3399CC;
	}
.post.second-bg {
		background-color: #67B8DE;
	}
.post.third-bg {
		background-color: #91C9E8;
	}
.post.fourth-bg {
		background-color: #B4DCED;
	}
.post.fifth-bg {
		background-color: #E8F8FF;
	}
.filter-item,  .links-sidebar, .comment-button {
    background-color: gray;
}
