.post.first-bg {
		background-color: #e7ecf0;
	}

.post.second-bg {
		background-color: #e0dcdb;
	}

.post.third-bg {
		background-color: #f4cabc;
	}

.post.fourth-bg {
		background-color: #ffa082;
	}

.post.fifth-bg {
		background-color: #fc7967;
	}

.filter-item, .links-sidebar, .comment-button {
    background-color: black;
}