.post.first-bg {
		background-color: #E74C3C;
	}
.post.second-bg {
		background-color: #ECF0F1;
	}
.post.third-bg {
		background-color: #3498DB;
	}
.post.fourth-bg {
		background-color: #BC8F64;
	}
.post.fifth-bg {
		background-color: #2980B9;
	}
